---
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import Site from '../layouts/site.astro';

const posts = await getCollection('blog');
---

<Site>
    <ul>
        {posts.map((post: CollectionEntry<'blog'>) => (
            <li>
                <a href={`/post/${post.slug}`}>
                    <h2>{post.data.title}</h2>
                    <time datetime={new Date(post.data.date).toISOString()}>
                        {new Date(post.data.date).toLocaleDateString()}
                    </time>
                    <p>{post.body.slice(0, 150) + '...'}</p>
                </a>
            </li>
        ))}
    </ul>
</Site>
