---
import Site from "../layouts/site.astro"
import { getCollection } from 'astro:content';
const blogEntries = await getCollection('now');
---
<Site>
    <title>What am I up to now?</title>

    <ul>
        {blogEntries.map((blogPostEntry: any) => (
          <li>
            <time datetime={blogPostEntry.data.date}>
                {blogPostEntry.data.date}
            </time>
            <div>
                {blogPostEntry.body}
            </div>
          </li>
        ))}
      </ul>

    <footer>
        <p>Shamlessly inspired by <a href="https://eva.town/now">Eva</a></p>
    </footer>
</Site>
