

<header class="flex justify-center w-full bg-slate-400">
    <div class="flex flex-row w-4/5 p-4 items-center justify-between">
        <span>
            <a href='/' class="font-bold text-4xl">NG</a>
        </span>
        <span class="flex flex-row gap-8">
            <a href="/blog">blog</a>
            <a href="/now">now</a>
        </span>
    </div>
</header>