
<div>
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/6d74Jx2vTWvA80YnFGoDTF?utm_source=generator" width="350" height="600" frameborder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
</div>
